[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/smigle-lagom"]
	path = themes/smigle-lagom
	url = git@github.com:ceso/smigle-lagom.git
